<!-- jumbotron Start -->

<div class="jumbotron">
  <h1 class="display-4">NATURELLE</h1>
  <p class="lead">We have started our carrier since 2019. Since its emerging trends of current scenario.
                    <br> Yeah ! We are start up company but aiming to provide a Quality Products.</p>
  
</div>

<!-- jumbotron End -->

<div class="container" style="align-content:center">
  <h1 class="display-5 text-center">Our Latest Products</h1>
  <hr class="my-4">
  <div class="row">
    <div class="col">
 <div class="card" >
  <div class="card-body">
    <img src="images/img_1.jpg" class="img-thumbnail"></img>
    <h5 class="card-title">Intimate Wash</h5>
    <h6 class="card-subtitle mb-2 text-muted">Natural Glow</h6>
    <p class="card-text">Defend your skin and protects it.</p>
   <!-- <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a> -->
  </div>
</div>
    </div>
    <div class="col">
 <div class="card">
  <div class="card-body">
    <img src="images/img_2.jpg" class="img-thumbnail"></img>
    <h5 class="card-title">Lacto Lotion</h5>
    <h6 class="card-subtitle mb-2 text-muted">Moisturizer</h6>
    <p class="card-text">Moisturizes your skin and keeps fresh.</p>
    <!--<a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a> -->
  </div>
</div>
    </div>
    <div class="col">
 <div class="card">
  <div class="card-body">
    <img src="images/img_3.jpg" class="img-thumbnail"></img>
    <h5 class="card-title">Innis Free</h5>
    <h6 class="card-subtitle mb-2 text-muted">Cosmetic Pack</h6>
    <p class="card-text">Purely essential and provides good look</p>
    <!-- <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a> -->
  </div>
</div>
    </div>
  </div>
<div class="row">
<div class="col">
 <div class="card" >
  <div class="card-body">
    <img src="images/img_4.jpg" class="img-thumbnail"></img>
    <h5 class="card-title">Charm Jam</h5>
    <h6 class="card-subtitle mb-2 text-muted">Creams</h6>
    <p class="card-text">Protects skin and produces good fragrance.</p>
   <!-- <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a> -->
  </div>
</div>
    </div>
<div class="col">
 <div class="card" >
  <div class="card-body">
    <img src="images/img_5.jpg" class="img-thumbnail"></img>
    <h5 class="card-title">Ever Fresh</h5>
    <h6 class="card-subtitle mb-2 text-muted">Alovera Gel</h6>
    <p class="card-text">Healthy glow using natural alovera gel.</p>
   <!-- <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a> -->
  </div>
</div>
    </div>
<div class="col">
 <div class="card" >
  <div class="card-body">
    <img src="images/img_6.jpg" class="img-thumbnail"></img>
    <h5 class="card-title">Freak Top</h5>
    <h6 class="card-subtitle mb-2 text-muted">Makeup Kit</h6>
    <p class="card-text">Good vibes using good products.</p>
  <!-- <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a> -->
  </div>
</div>
    </div>
</div>
</div>

<div class="jumbotron">
  <h1 class="display-4">Top Brands</h1>
  <p class="lead">Best glow and fine fragrance comes by using branded products.</p>
  <hr class="my-4">

<div class="row">

<div class="col">
<div class="card">
  <img src="images/img_7.jpg" class="card-img-top" alt="Ponds Products">
  <div class="card-body">
    <p class="card-text customer-review">These are the different types of products produced by Ponds. Use Ponds products and feel the fragrance.</p>
  </div>
</div>
</div>

<div class="col">
<div class="card">
  <img src="images/img_9.jpg" class="card-img-top" alt="Himalaya Products">
  <div class="card-body">
    <p class="card-text customer-review">These are the different types of products produced by Himalaya. Use Himalaya products and feel the glow.</p>
  </div>
</div>
</div>

<div class="col">
<div class="card">
  <img src="images/img_8.jpg" class="card-img-top" alt="Lakme Products">
  <div class="card-body">
    <p class="card-text customer-review">These are the different types of products produced by Lakme. Use Lakme products and feel comfort.</p>
  </div>
</div>
</div>

<div class="col">
<div class="card">
  <img src="images/img_10.jpg" class="card-img-top" alt="Oriflame Products">
  <div class="card-body">
    <p class="card-text customer-review">These are the different types of products produced by Oriflame. Use Oriflame products and feel good.</p>
  </div>
</div>
</div>

<div class="col">
<div class="card">
  <img src="images/img_11.jpg" class="card-img-top" alt="Nivea Products">
  <div class="card-body">
    <p class="card-text customer-review">These are the different types of products produced by Nivea. Use Nivea products and feel the glow.</p>
  </div>
</div>
</div>
</div>
</div>
</div> 

<div class="container1" style="margin-bottom:80px">
  <h1 class="display-5" style="text-align:center">Our Sponsors</h1>
  <hr class="my-4">
  <div class="row">
  <div class="col equal-width"><img src="images/logos/logo_1.png" class="img-thumbnail"></div>
  <div class="col equal-width"><img src="images/logos/logo_5.png" class="img-thumbnail"></div>
  <div class="col equal-width"><img src="images/logos/logo_2.png" class="img-thumbnail"></div>
  <div class="col equal-width"><img src="images/logos/logo_6.png" class="img-thumbnail"></div>
  <div class="col equal-width"><img src="images/logos/logo_3.png" class="img-thumbnail"></div>
  </div>
</div>

