
<div id="slides" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#slides" data-slide-to="0" class="active"></li>
        <li data-target="#slides" data-slide-to="1"></li>
        <li data-target="#slides" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="images/img_c_1.jpg" style="width: 100%" >
          <!--  <div class="carousel-caption">
                <h3>NATURELLE</h3>
                
            </div> -->
        </div>
        <div class="carousel-item">
            <img src="images/img_c_2.jpg" style="width:100%" >
        </div>
        <div class="carousel-item">
            <img src="images/img_c_3.jpg" style="width:100%" >
        </div>
    </div>
    
</div>
<div class="jumbotron">
<h4>Types Of Cosmetics</h4>
<ul>
  <li ng-repeat="product in products">{{product}}</li>
</ul>
</div>
<div class="container1" style="margin-bottom:80px">
            <h1 class="display-5">PONDS PRODUCTS </h1>
            <hr class="my-4">
            <div class="row">
            <div class="col equal-width"><img src="images/img_p_1.jpg" alt="Ponds Product" style="width: 100%" class="img-thumbnail"></div>
            <div class="col equal-width"><img src="images/img_p_2.jpg" alt="Ponds Product" style="width: 100%" class="img-thumbnail"></div>
            <div class="col equal-width"><img src="images/img_p_3.jpg" alt="Ponds Product" style="width: 100%" class="img-thumbnail"></div>
            <div class="col equal-width"><img src="images/img_p_4.jpg" alt="Ponds Product" style="width: 100%" class="img-thumbnail"></div>
            <div class="col equal-width"><img src="images/img_p_5.jpg" alt="Ponds Product" style="width: 100%" class="img-thumbnail"></div>
            </div>
      </div>

<div class="container1" style="margin-bottom:80px">
        <h1 class="display-5">HIMALAYA PRODUCTS</h1>
        <hr class="my-4">
        <div class="row">
        <div class="col equal-width"><img src="images/img_h_1.jpg" alt="Himalaya Product" style="width: 100%" class="img-thumbnail"></div>
        <div class="col equal-width"><img src="images/img_h_2.jpg" alt="Himalaya Product" style="width: 100%" class="img-thumbnail"></div>
        <div class="col equal-width"><img src="images/img_h_3.jpg" alt="Himalaya Product" style="width: 100%" class="img-thumbnail"></div>
        <div class="col equal-width"><img src="images/img_h_4.jpg" alt="Himalaya Product" style="width: 100%" class="img-thumbnail"></div>
        <div class="col equal-width"><img src="images/img_h_5.jpg" alt="Himalaya Product" style="width: 100%" class="img-thumbnail"></div>
        </div>
      </div>
      <div class="container1" style="margin-bottom:80px">
            <h1 class="display-5">LAKME PRODUCTS</h1>
            <hr class="my-4">
            <div class="row">
            <div class="col equal-width"><img src="images/img_l_1.jpg" alt="Lakme Product" style="width: 100%" class="img-thumbnail"></div>
            <div class="col equal-width"><img src="images/img_l_2.jpg" alt="Lakme Product" style="width: 100%" class="img-thumbnail"></div>
            <div class="col equal-width"><img src="images/img_l_3.jpg" alt="Lakme Product" style="width: 100%" class="img-thumbnail"></div>
            <div class="col equal-width"><img src="images/img_l_4.jpg" alt="Lakme Product" style="width: 100%" class="img-thumbnail"></div>
            <div class="col equal-width"><img src="images/img_l_5.jpg" alt="Lakme Product" style="width: 100%" class="img-thumbnail"></div>
            </div>
      </div>
      <div class="container1" style="margin-bottom:80px">
            <h1 class="display-5">ORIFLAME PRODUCTS</h1>
            <hr class="my-4">
            <div class="row">
            <div class="col equal-width"><img src="images/img_o_1.jpg" alt="Oriflame Product" style="width: 100%" class="img-thumbnail"></div>
            <div class="col equal-width"><img src="images/img_o_2.jpg" alt="Oriflame Product" style="width: 100%" class="img-thumbnail"></div>
            <div class="col equal-width"><img src="images/img_o_3.jpg" alt="Oriflame Product" style="width: 100%" class="img-thumbnail"></div>
            <div class="col equal-width"><img src="images/img_o_4.jpg" alt="Oriflame Product" style="width: 100%" class="img-thumbnail"></div>
            <div class="col equal-width"><img src="images/img_o_5.jpg" alt="Oriflame Product" style="width: 100%" class="img-thumbnail"></div>
            </div>
          </div>
         <div class="container1" style="margin-bottom:80px">
                <h1 class="display-5">NIVEA PRODUCTS</h1>
                <hr class="my-4">
                <div class="row">
                <div class="col equal-width"><img src="images/img_n_1.jpg" alt="Nivea Product" style="width: 100%" class="img-thumbnail"></div>
                <div class="col equal-width"><img src="images/img_n_2.jpg" alt="Nivea Product" style="width: 100%" class="img-thumbnail"></div>
                <div class="col equal-width"><img src="images/img_n_3.jpg" alt="Nivea Product" style="width: 100%" class="img-thumbnail"></div>
                <div class="col equal-width"><img src="images/img_n_4.jpg" alt="Nivea Product" style="width: 100%" class="img-thumbnail"></div>
                <div class="col equal-width"><img src="images/img_n_5.jpg" alt="Nivea Product" style="width: 100%" class="img-thumbnail"></div>
                </div>
          </div>